Builds/


# Godot-specific ignores
*import/
logs/
Photos/
export.cfg
export_presets.cfg



# System/tool-specific ignores
.directory
*~


# Not sure if these are needed:

*~
*.swp
*.swo
.fscache

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.lnk


